.message-title
  .message
    = message.user.name
  %p.message_date
    = message.created_at.strftime("%Y/%m/%d(%a) %T")

- if message.content.present?
  %p.message_text
    = message.content
  = image_tag message.image.url, class: 'message_text__image' if message.image.present?
