.header
  .header__logo
    グループを作成しました
.contents
  .left_contents
    .left_header
    
      .left_header__box
        seo
        %ul.left_header__box__lists
          %li.left_header__box__lists__list
            =link_to "#" do
              =fa_icon 'edit', class: "left_header__box__lists__list__icon"
          %li.left_header__box__lists__list
            =link_to "#" do
              =fa_icon 'cog', class: "left_header__box__lists__list__icon"
            

    .groups
      .groups__box
        %p.groups__box__name 
          sample1
        %p.groups__box__latest-message
          Good bye work1
      .groups__box
        %p.groups__box__name
          sample2
        %p.groups__box__latest-message
          Good bye work2
      .groups__box
        %p.groups__box__name
          sample3
        %p.groups__box__latest-message
          Good bye work3

  .right_contents
    .right_header
      .right_header__box
        %p.right_header__box__name
          sample
        %p.right_header__box__members
          Members: seo neko
      .right_header__edit-box
        Edit
      
    .right_chat
      .left-box
        .message-title
          .message
            mai
          %p.message_date
            2019/07/08(Mon) 13:27:47
        %p.message_text
          aaa
        .message-title
          .message
            mai
          %p.message_date
            2019/07/08(Mon) 13:27:47
        %p.message_text
          aaa
        .message-title
          .message
            mai
          %p.message_date
            2019/07/08(Mon) 13:27:47
        %p.message_text
          aaa

    .footer
      %form.footer__form
        .footer__form__input_box
          %input.footer__form__input_box__text{:placeholder => "type a message", :type => "text"}
          -# .form__attachment
          %label.footer__form__input_box__attachment
            =fa_icon 'image', class: 'fa-lg'
            %input.footer__form__input_box__attachment__file{:type => "file"}
        %input.footer__form__btn{:value => "Send", :type => "submit"}

 
        
