.contents
  = render 'shared/side_bar'

  .right_contents
    .right_header
      .right_header__box
        %p.right_header__box__name
          sample
        %p.right_header__box__members
          Members: seo neko
      .right_header__edit-box
        Edit
      
    .right_chat
      .left-box
        .message-title
          .message
            mai
          %p.message_date
            2019/07/08(Mon) 13:27:47
        %p.message_text
          aaa
        .message-title
          .message
            mai
          %p.message_date
            2019/07/08(Mon) 13:27:47
        %p.message_text
          aaa
        .message-title
          .message
            mai
          %p.message_date
            2019/07/08(Mon) 13:27:47
        %p.message_text
          aaa

    .footer
      %form.footer__form
        .footer__form__input_box
          %input.footer__form__input_box__text{placeholder: "type a message", type: "text"}
          %label.footer__form__input_box__attachment
            =fa_icon 'image', class: 'fa-lg'
            %input.footer__form__input_box__attachment__file{type: "file"}
        %input.footer__form__btn{value: "Send", type: "submit"}

 
        
